packages
TuriStore/bin/
TuriStore/obj/
*.suo
*.user
*.sln.docstates

[Db]ebug/
[Rr]elease/
*.obj
*.pdb

Thumbs.db
Desktop.ini

TuriStore/Data/turistore.sqlite3.db
/TuriStore/bin/Debug/Data/turistore.sqlite3.db
/TuriStore/bin/Debug/x64/SQLite.Interop.dll
/TuriStore/bin/Debug/x86/SQLite.Interop.dll
/TuriStore/bin/Debug/CalcBinding.dll
/TuriStore/bin/Debug/DynamicExpresso.Core.dll
/TuriStore/bin/Debug/EntityFramework.dll
/TuriStore/bin/Debug/EntityFramework.SqlServer.dll
/TuriStore/bin/Debug/EntityFramework.SqlServer.xml
/TuriStore/bin/Debug/EntityFramework.xml
/TuriStore/bin/Debug/System.Data.SQLite.dll
/TuriStore/bin/Debug/System.Data.SQLite.EF6.dll
/TuriStore/bin/Debug/System.Data.SQLite.Linq.dll
/TuriStore/bin/Debug/System.Data.SQLite.xml
/TuriStore/bin/Debug/TuriStore.exe
/TuriStore/bin/Debug/TuriStore.exe.config
/TuriStore/bin/Debug/TuriStore.pdb
/.vs/TuriStore/FileContentIndex/eb47ca29-2eb4-4939-a658-aaa45806a30a.vsidx
/.vs/TuriStore/FileContentIndex/e53f4b66-428f-4b83-a855-794f3f6fdc6f.vsidx
/.vs/TuriStore/FileContentIndex/d25402a9-8270-41b7-b787-3655634abfbe.vsidx
/.vs/TuriStore/FileContentIndex/cdcddb62-577a-4655-bd72-52339b109226.vsidx
/.vs/TuriStore/FileContentIndex/8415cba8-8b51-4b41-956d-f152b064bc71.vsidx
/.vs/TuriStore/FileContentIndex/3b6c3328-20ee-43bb-96de-72289b4357e8.vsidx
/.vs/TuriStore/FileContentIndex/19498ed9-c923-4cde-812e-e5725ecae63b.vsidx
/.vs/TuriStore/FileContentIndex/10e14e08-548d-4c37-a896-819a02c1bac4.vsidx
/.vs/TuriStore/v17/.suo
/.vs/TuriStore/v17/.wsuo
/.vs/VSWorkspaceState.json
